<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= program_name %></title>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <!--<link rel="icon" type="image/x-icon" href="/images/sword.ico">-->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="headerDiv">
        <%= program_name %>
    </div>

    <!-- https://scotch.io/tutorials/use-ejs-to-template-your-node-application -->
    <!-- https://github.com/tj/ejs -->
    <% include include/mainmenu %>

    <div class="contentDiv">
        
        <div class="pageTitleDiv">Administration page</div>

        <%# obj file upload %>
        <div id="objfileuploaderDiv" class="adminMenuDiv">
            <div class="adminMenuTitle" onclick="toggleDiv('objectfileuploaderdiv')">OBJ állomány feltöltése</div>
            <div id="objectfileuploaderdiv" class="adminMenuContentDiv" style="display: <%= block %>;">
                <form id="uploadForm" enctype="multipart/form-data" action="/uploadfile" method="post">
                    <input type="file" name="uploadedFileName" />
                    <input type="submit" value="Feltöltés" onclick="deleteMsgDivContent('objectfileuploaderdiv')" />                    
                </form>
                <div class="msg" style="color: <%= msg_color %>"><%= msg_text %></div>
            </div>            
        </div>

    </div>

    <div class="footerDiv">
        <div class="developerAndVersionDiv">
            by <%= program_developer %> v.<%= program_version %>
        </div>
    </div>
    
    <script src="/javascripts/c_util.js"></script>

</body>
</html>